<div class="w-full min-h-screen bg-gradient-to-b from-stone-950 via-gray-900 to-stone-900">
    <article id="main_container" class="flex flex-row gap-8 max-w-6xl px-4 py-16 mx-auto">
        <img src="assets/img/clase_nuevaClase.jpg" alt="Clase de muestra" class="w-96 object-cover rounded-lg exactly850:hidden">
        <article class="bg-gray-800 flex flex-col items-center justify-center w-full h-full rounded-lg shadow-lg tablet:mx-12 movil_pequeno:mx-6">
            <h2 class="text-3xl font-bold text-center mt-16 text-white">Crear Nueva Clase</h2>
        <!--  (ngSubmit)="onSubmit()" -->
        <form class=" p-6 rounded-lg shadow-lg w-full flex flex-col gap-6 px-6" [formGroup]="nuevaClaseForm">
            <article>
                <label for="nombre" class="block text-sm font-medium text-white">Nombre de la clase:</label>
                <input type="text" id="nombre" formControlName="nombre" class="mt-4 block w-4/5 p-2 mx-auto bg-gray-700 border border-gray-600 rounded focus:ring-yellow-500 focus:border-yellow-500 text-white" required>
            </article>
            <article>
                <label for="sala" class="block text-sm font-medium text-white">Sala:</label>
                <input type="text" id="sala" formControlName="sala" class="mt-4 block w-4/5 mx-auto p-2 bg-gray-700 border border-gray-600 rounded focus:ring-yellow-500 focus:border-yellow-500 text-white" required>
            </article>
            <article>
                <label for="fecha" class="block text-sm font-medium text-white">Fecha y hora:</label>
                <!--  -->
                <input type="text" id="fecha" formControlName="fecha" (input)="formatearFecha($event)" class="mt-4 block w-4/5 mx-auto p-2 bg-gray-700 border border-gray-600 rounded focus:ring-yellow-500 focus:border-yellow-500 text-white" required>
            </article>
            
            <button class="w-44 mx-auto px-4 py-2 mt-4 font-bold text-white bg-yellow-500 rounded-lg mb-16 hover:bg-yellow-600 focus:outline-none focus:ring focus:ring-yellow-500 disabled:opacity-50 disabled:cursor-not-allowed">Crear Clase</button>
        </form>
        </article>
    </article>
</div>
