<header>
    <div class="header_logo">
        <img src="assets/images/logo.png" alt="Logo" />
    </div>
    <nav id="header_nav">
        
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
    <section id="header_actions">
        <button id="login_button">Login</button>
        <button id="signup_button">Sign Up</button>
    </section>
</header>
