@tailwind base;
@tailwind components;
@tailwind utilities;

#toast-container {
  position: fixed !important;
  top: 1rem !important;
  right: 1rem !important;
  bottom: auto !important;
  left: auto !important;
  z-index: 9999 !important;
}