<!-- Contenedor principal -->
<div class="relative w-full h-full overflow-auto">
  
    <!-- Contenedor que define el tamaño del "lienzo" del plano -->
    <div class="relative min-w-[2000px] min-h-[1200px]">
  
      <!-- Imagen del plano -->
      <img
        src="/img/schemes/plano_gimnasio.jpg"
        alt="Plano"
        class="absolute top-0 left-0 z-0 object-cover w-full h-full" />
  
      <!-- Contenido encima del plano -->
      <div class="relative z-10 p-6 text-white">
        <!-- <h1 class="mb-4 text-3xl font-bold">Zona de máquinas</h1> -->
        <!-- <div class="absolute z-10 left-[350px] top-[250px]">
            <fa-icon [icon]="faMapPin" class="absolute text-5xl text-red-600 drop-shadow-[0_0_2px_white]"></fa-icon>
        </div> -->

        <button (click)="videoVisible = !videoVisible">
            <fa-icon [icon]="faMapPin" class="absolute text-5xl text-red-600 drop-shadow-[0_0_2px_white]"></fa-icon>
          </button>
        
          <!-- Desplegable con el video -->
          <div *ngIf="videoVisible" class="mt-2 p-2 bg-black/80 rounded-lg shadow-lg w-[300px] animate-fade-in">
            <iframe
              width="100%"
              height="170"
              class="rounded"
              src="https://www.youtube.com/embed/fHxioAPFjHE?si=p7C_dPBUrK2ILlAO"
              title="Video explicativo"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
      </div>
  
    </div>
  
  </div>