<!-- Contenedor principal -->
<div class="relative w-full h-full overflow-auto">
  
    <!-- Contenedor que define el tamaño del "lienzo" del plano -->
    <div class="relative min-w-[2000px] min-h-[1200px]">
  
      <!-- Imagen del plano -->
      <img
        src="assets/img/schemes/plano_gimnasio.jpg"
        alt="Plano"
        class="absolute top-0 left-0 z-0 object-cover w-full h-full" />
  
      <!-- Contenido encima del plano -->
      <div class="relative z-10 p-6 text-white">
        
        <article id="aductor" class="absolute left-[340px] top-[215px]">
          <button (click)="videoAductorVisible = !videoAductorVisible">
              <fa-icon [icon]="faMapPin" class="absolute text-5xl text-yellow-400 drop-shadow-[0_0_2px_white]"></fa-icon>
            </button>
          
            <!-- Desplegable con el video -->
            <div *ngIf="videoAductorVisible" class="mt-12 p-2 bg-black/80 rounded-lg shadow-lg w-[300px] animate-fade-in relative z-50">
              <iframe
                width="100%"
                height="170"
                class="rounded"
                src="https://www.youtube.com/embed/9EuO_mMQ3i8?si=SAaYGronhBn5SqSY"
                title="Video explicativo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
        </article>


        <article id="shoulder_press" class="absolute left-[640px] top-[65px]">
          <button (click)="videoShoulderVisible = !videoShoulderVisible">
              <fa-icon [icon]="faMapPin" class="absolute text-5xl text-yellow-400 drop-shadow-[0_0_2px_white]"></fa-icon>
            </button>
          
            <!-- Desplegable con el video -->
            <div *ngIf="videoShoulderVisible" class="mt-12 p-2 bg-black/80 rounded-lg shadow-lg w-[300px] animate-fade-in">
              <iframe
                width="100%"
                height="170"
                class="rounded"
                src="https://www.youtube.com/embed/A20O8ZMn190?si=0bujLfaHrypofhpS"
                title="Video explicativo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
        </article>


        <article id="quads" class="absolute left-[540px] top-[260px]">
          <button (click)="videoQuadsVisible = !videoQuadsVisible">
              <fa-icon [icon]="faMapPin" class="absolute text-5xl text-yellow-400 drop-shadow-[0_0_2px_white]"></fa-icon>
            </button>
          
            <!-- Desplegable con el video -->
            <div *ngIf="videoQuadsVisible" class="mt-12 p-2 bg-black/80 rounded-lg shadow-lg w-[300px] animate-fade-in relative z-50">
              <iframe
                width="100%"
                height="170"
                class="rounded"
                src="https://www.youtube.com/embed/DI34ngDC8FU?si=YDIXgjTlw8HRINXx"
                title="Video explicativo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
        </article>



        <article id="leg_press" class="absolute left-[990px] top-[200px]">
          <button (click)="videoLegPressVisible = !videoLegPressVisible">
              <fa-icon [icon]="faMapPin" class="absolute text-5xl text-yellow-400 drop-shadow-[0_0_2px_white]"></fa-icon>
            </button>
          
            <!-- Desplegable con el video -->
            <div *ngIf="videoLegPressVisible" class="mt-12 p-2 bg-black/80 rounded-lg shadow-lg w-[300px] animate-fade-in z-50 relative">
              <iframe
                width="100%"
                height="170"
                class="rounded"
                src="https://www.youtube.com/embed/D63zdwUzhXQ?si=VL1-WGoLIe2JPHk9"
                title="Video explicativo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
        </article>



        <article id="lat_pulldown" class="absolute left-[660px] top-[335px]">
          <button (click)="videoLatPulldownVisible = !videoLatPulldownVisible">
              <fa-icon [icon]="faMapPin" class="absolute text-5xl text-yellow-400 drop-shadow-[0_0_2px_white]"></fa-icon>
            </button>
          
            <!-- Desplegable con el video -->
            <div *ngIf="videoLatPulldownVisible" class="mt-12 p-2 bg-black/80 rounded-lg shadow-lg w-[300px] animate-fade-in">
              <iframe
                width="100%"
                height="170"
                class="rounded"
                src="https://www.youtube.com/embed/EA42wwLwDgs?si=F16IH7hPvc_ix82g"
                title="Video explicativo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
        </article>


        <article id="predicator" class="absolute left-[1155px] top-[590px]">
          <button (click)="videoPredicatorVisible = !videoPredicatorVisible">
              <fa-icon [icon]="faMapPin" class="absolute text-5xl text-yellow-400 drop-shadow-[0_0_2px_white]"></fa-icon>
            </button>
          
            <!-- Desplegable con el video -->
            <div *ngIf="videoPredicatorVisible" class="mt-12 p-2 bg-black/80 rounded-lg shadow-lg w-[300px] animate-fade-in">
              <iframe
                width="100%"
                height="170"
                class="rounded"
                src="https://www.youtube.com/embed/0GiLS6VyyHE?si=Rr0w5xWVXT2UEpj_"
                title="Video explicativo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
        </article>


        <article id="lateral_raise" class="absolute left-[1515px] top-[700px]">
          <button (click)="videoLateralRaiseVisible = !videoLateralRaiseVisible">
              <fa-icon [icon]="faMapPin" class="absolute text-5xl text-yellow-400 drop-shadow-[0_0_2px_white]"></fa-icon>
            </button>
          
            <!-- Desplegable con el video -->
            <div *ngIf="videoLateralRaiseVisible" class="mt-12 p-2 bg-black/80 rounded-lg shadow-lg w-[300px] animate-fade-in">
              <iframe
                width="100%"
                height="170"
                class="rounded"
                src="https://www.youtube.com/embed/lIUyU4hNHDc?si=eAN4H6wlkJ9cGDnM"
                title="Video explicativo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
        </article>


        <article id="bench_press" class="absolute left-[1097px] top-[380px]">
          <button (click)="videoBenchPressVisible = !videoBenchPressVisible">
              <fa-icon [icon]="faMapPin" class="absolute text-5xl text-yellow-400 drop-shadow-[0_0_2px_white]"></fa-icon>
            </button>
                      
            <!-- Desplegable con el video -->
            <div *ngIf="videoBenchPressVisible" class="mt-12 p-2 bg-black/80 rounded-lg shadow-lg w-[300px] animate-fade-in">
              <iframe
                width="100%"
                height="170"
                class="rounded"
                src="https://www.youtube.com/embed/aYuUzMGA38Y?si=XBbR8dgcnu2HwzOi"
                title="Video explicativo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
        </article>
      </div>
  
    </div>
  
  </div>